({
    "game.tilemap.sprites": TextureAtlas (
        path: "tilemap/sprites.ktx2",
        tile_size_x: 128.,
        tile_size_y: 128.,
        rows: 10,
        columns: 10,
    ),
    "game.tilemap.roads6": File (
        path: "tilemap/roads6.ktx2"
    ),
    "game.tilemap.roads4": File (
        path: "tilemap/roads4.ktx2"
    ),
})
