({
    "ui.img.logo": File (
        path: "minewars.png"
    ),
    "ui.font": File (
        path: "font/Sansation-Regular.ttf"
    ),
    "ui.font.bold": File (
        path: "font/Sansation-Bold.ttf"
    ),
    "ui.font.light": File (
        path: "font/Sansation-Light.ttf"
    ),
    "ui.font2": File (
        path: "font/Ubuntu-R.ttf"
    ),
    "ui.font2.bold": File (
        path: "font/Ubuntu-B.ttf"
    ),
    "ui.font2.light": File (
        path: "font/Ubuntu-L.ttf"
    ),
    "ui.bg.notify_simple": File (
        path: "ui/notify_simple.png"
    ),
    "ui.bg.notify_killfeed": File (
        path: "ui/notify_killfeed.png"
    ),
})
